@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  font-weight: 700;
}
:root {
  --mdc-typography-font-family: "Nunito", sans-serif;
}

html {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

* {
  box-sizing: border-box;
}

.mdc-button {
  border-radius: 6px;
}

[class*=mdc-button] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: none;
}

body {
  background-color: #fbfbfb;
  overflow-x: hidden;
}

main {
  max-width: 1240px;
  padding: 0 4rem;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-header {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  margin: 3rem 0;
}
.m-header__highlight {
  color: #004680;
}

.highlight {
  color: #004680;
  font-weight: 700;
}

.m-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 3rem;
  height: px;
  width: 100%;
  z-index: 2;
}
.m-menu__navigation {
  width: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}
.m-menu_sticky {
  position: fixed;
  height: 64px;
  background-color: #fbfbfb;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  transition: all ease 500ms;
}
.m-menu__logo {
  height: 50px;
}

.m-top-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-block-end: 5rem;
}
.m-top-hero::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-35vw, calc(-50vh - 6vw));
  width: 120vw;
  height: 100%;
  background-image: url("../img/top_hero.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.m-top-hero__wrapper {
  width: 500px;
}
.m-top-hero__title {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-block-end: 1rem;
}
.m-top-hero__description {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-block-end: 3rem;
}
.m-top-hero__action-button {
  padding: 0.75rem 2rem;
  height: unset;
}
.m-top-hero__action-button .mdc-button__label {
  display: block;
}
.m-top-hero .m-header__title {
  font-size: 3.5rem;
  line-height: 4rem;
}

.m-mission {
  padding-block-end: 7rem;
}
.m-mission .m-quote {
  position: relative;
  width: 50%;
  max-width: 600px;
}
.m-mission .m-quote__text {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  word-break: break-word;
}
.m-mission .m-quote span {
  position: relative;
}
.m-mission .m-quote__image {
  position: absolute;
  top: -37px;
  left: -54px;
  z-index: -1;
  width: 100px;
  height: 100px;
}
.m-mission .m-quote__image svg {
  width: 100%;
  height: 100%;
}
.m-mission .m-quote__image svg path {
  fill: #e4e4e4;
}
.m-mission .m-quote__author {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-block-start: 1rem;
}
.m-mission .m-quote__author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-inline-end: 1rem;
}

.m-values {
  margin-block-end: 5rem;
}
.m-values__list {
  display: flex;
  flex-direction: row;
}
.m-values__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.m-values__item:first-of-type {
  padding-inline-end: 3rem;
}
.m-values__item:last-of-type {
  padding-inline-start: 3rem;
}
.m-values__item:not(:last-of-type):not(:first-of-type) {
  padding: 0 3rem;
}
.m-values__item:not(:last-of-type) {
  border-right: 1px solid #e4e4e4;
}
.m-values__item-image {
  height: 140px;
  padding-block-start: 2rem;
  margin-block-end: 3rem;
}
.m-values__item-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  margin-block-end: 1rem;
}
.m-values__item-description {
  margin: 0;
  padding-block-end: 2rem;
}
.m-values__item-image, .m-values__item-title, .m-values__item-description {
  text-align: center;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

@media screen and (max-width: 480px) {
  main {
    padding: 0 1.5rem;
  }
  .m-header {
    font-size: 2rem;
    line-height: 2rem;
    margin: 2rem 0;
  }
  .m-menu__cta-button {
    display: none;
  }
  .m-top-hero {
    text-align: center;
    margin-block-end: 2rem;
  }
  .m-top-hero::before {
    transform: translate(calc(-50vw - 2vh), -47vh);
    background-size: 180%;
  }
  .m-top-hero__wrapper {
    position: relative;
    top: -20vh;
    width: 100%;
    align-items: center;
  }
  .m-top-hero__title {
    font-size: 2.375rem;
    line-height: 2.375rem;
  }
  .m-top-hero__description {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-block-end: 1.5rem;
  }
  .m-mission {
    padding-block-end: 4rem;
  }
  .m-mission .m-quote {
    width: 100%;
  }
  .m-mission .m-quote__text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .m-mission .m-quote__image {
    width: 80px;
    height: 80px;
    top: -37px;
    left: -25px;
  }
  .m-values {
    margin-block-end: 2rem;
  }
  .m-values__list {
    display: flex;
    flex-direction: column;
  }
  .m-values__item {
    margin-block-start: 1rem;
  }
  .m-values__item:first-of-type {
    padding-inline-end: 0;
  }
  .m-values__item:last-of-type {
    padding-inline-start: 0;
  }
  .m-values__item:not(:last-of-type):not(:first-of-type) {
    padding: 0;
  }
  .m-values__item:not(:last-of-type) {
    border-right: none;
  }
  .m-values__item-image {
    height: 100px;
    padding-block-start: 1.5rem;
    margin-block-end: 1.5rem;
  }
  .m-values__item-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .m-values__item-description {
    padding-block-end: 2rem;
  }
  .m-values__item-image, .m-values__item-title, .m-values__item-description {
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
:root {
  --mdc-theme-primary: #004680;
}

cite {
  font-style: normal;
}

blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body,
html {
  margin: 0;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
