@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  font-weight: 700;
}
:root {
  --mdc-typography-font-family: "Nunito", sans-serif;
}

html {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

* {
  box-sizing: border-box;
}

.mdc-button {
  --mdc-filled-button-container-shape: 6px;
  --mdc-outlined-button-container-shape: 6px;
}
.mdc-button.cta-accent-button {
  --mdc-filled-button-container-color: #ed2d24;
  --mdc-filled-button-hover-state-layer-color: #f74c43;
  --mdc-filled-button-hover-state-layer-opacity: 1;
  --mdc-filled-button-focus-state-layer-opacity: 1;
  --mdc-filled-button-pressed-state-layer-opacity: 1;
}
.mdc-button.cta-accent-button.mdc-ripple-upgraded--background-focused .mdc-button__ripple:before {
  background-color: #fb3a23;
}
.mdc-button.cta-accent-button .mdc-button__ripple:after {
  background-color: #ed6f6a;
  z-index: 1;
}

[class*=mdc-button] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: none;
}

html,
body {
  margin: 0;
  overflow-x: clip;
}

body {
  background-color: #fbfbfb;
  height: 100%;
  padding-block-start: 3rem;
}
@media screen and (min-width: 600px) {
  body {
    padding-block-start: 1.5rem;
  }
}

main {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1.5rem;
  width: 100%;
}
@media screen and (min-width: 600px) {
  section {
    padding: 0rem 4rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  section {
    padding: 0 1.5rem;
  }
}

.m-section.m-team-section {
  margin-block-end: 4rem;
}
.m-section__header {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Ubuntu";
}
.m-section__menu {
  width: 100%;
  padding-inline-start: unset;
  margin: 0;
}
.m-section__list {
  width: 100%;
  padding-inline-start: unset;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  margin: 0;
  gap: 1.5rem;
  height: 40px;
}
@media (min-width: 599px) {
  .m-section__list {
    justify-content: center;
  }
}
.m-section__item {
  flex: none;
  height: 100%;
  width: 120px;
}
.m-section__item button[role=tab] {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  font-family: "Nunito";
}
.m-section__item button[role=tab]:hover {
  color: #497291;
}
.m-section__item.active button[role=tab] {
  font-weight: bold;
  color: #004680;
  border-bottom: 2px solid #004680;
  z-index: 1;
}
.m-section hr {
  width: 100%;
  margin: 0;
  margin-bottom: 4rem;
  position: relative;
  top: -1px;
  border: none;
  height: 1px;
  background-color: #e4e4e4;
}
.m-section .m-people-list {
  display: flex;
  align-items: flex-start;
  gap: 1.375rem;
  padding-inline: 2rem;
}
.m-section .m-people-list[hidden] {
  display: none;
}
@media (min-width: 599px) {
  .m-section .m-people-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 4rem;
    gap: 4rem;
  }
}
.m-section .m-person-card {
  display: flex;
  min-width: 300px;
}
.m-section .m-person-card p {
  margin: 0;
}
.m-section .m-person-card__image {
  margin-inline-end: 1.5rem;
  border-radius: 6px;
}
@media (min-width: 599px) {
  .m-section .m-person-card {
    width: calc(33.3333333333% - 64px);
  }
}

.m-team-photo {
  width: 100%;
}
@media (min-width: 1240px) {
  .m-team-photo {
    border-radius: 6px;
  }
}

.m-summary {
  width: 100%;
  height: calc(100vh - 115px);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: clip;
}
.m-summary::before {
  content: "";
  background-image: url("./../img/Decoration - Full.svg");
  background-position: center;
  background-size: 100% 100%;
  left: -100%;
  top: 10%;
  background-repeat: no-repeat;
  position: absolute;
  width: 200%;
  height: 150%;
  z-index: -1;
}
@media (min-width: 840px) {
  .m-summary::before {
    left: -125%;
    background-size: 150% 100%;
    top: 0;
  }
}
@media (min-width: 840px) {
  .m-summary {
    height: calc(100vh - 72px);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 4rem;
  }
}
.m-summary .m-security-img {
  max-height: 190px;
}
@media (min-width: 599px) {
  .m-summary .m-security-img {
    max-width: 400px;
    max-height: 400px;
    margin-inline-end: 8rem;
  }
}
.m-summary .m-wrapper {
  text-align: center;
}
@media (min-width: 840px) {
  .m-summary .m-wrapper {
    text-align: unset;
    flex-grow: 1;
  }
}
.m-summary .m-header {
  margin-block: 4rem 2rem;
}
@media (min-width: 599px) {
  .m-summary .m-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-block-start: 0;
  }
}

.m-footer {
  background-color: rgba(0, 0, 0, 0.87);
  color: #fbfbfb;
}
.m-footer__content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
}
@media (min-width: 599px) {
  .m-footer__content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .m-footer__content p {
    margin: 0rem 1rem 0rem 0rem;
  }
}
.m-footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 599px) {
  .m-footer__copyright {
    flex-direction: row;
    align-items: unset;
  }
}

a {
  height: 20px;
  text-decoration: underline;
}
a:hover {
  opacity: 0.8;
}

.mdc-button.cta-accent-button {
  text-transform: none;
  font-weight: bold;
  padding: 0.75rem 2rem;
  height: unset;
  --mdc-filled-button-container-color: #ed2d24;
  --mdc-filled-button-hover-state-layer-color: #f74c43;
  --mdc-filled-button-hover-state-layer-opacity: 1;
  --mdc-filled-button-focus-state-layer-opacity: 1;
  --mdc-filled-button-pressed-state-layer-opacity: 1;
}
.mdc-button.cta-accent-button.mdc-ripple-upgraded--background-focused .mdc-button__ripple:before {
  background-color: #fb3a23;
}
.mdc-button.cta-accent-button .mdc-button__ripple:after {
  background-color: #ed6f6a;
  z-index: 1;
}

.m-header {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}
@media screen and (min-width: 600px) {
  .m-header {
    font-size: 3rem;
    line-height: 4rem;
    margin: 3rem 0rem;
  }
}
.m-header__highlight {
  color: #004680;
}

.highlight {
  color: #004680;
  font-weight: 700;
}

.m-menu {
  display: flex;
  position: sticky;
  top: 0;
  flex-grow: 1;
  z-index: 2;
  transition: all ease 100ms;
}
.m-menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.m-menu__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  height: 46px;
  max-width: 1240px;
  padding: 0 1.5rem;
  margin: 0 auto;
  flex-grow: 1;
}
@media screen and (min-width: 600px) {
  .m-menu__navigation {
    height: 84px;
    padding: 0 4rem;
  }
}
.m-menu__cta-button {
  display: none;
}
@media screen and (min-width: 600px) {
  .m-menu__cta-button {
    display: block;
  }
}
.m-menu_sticky {
  background-color: #fbfbfb;
  border-bottom: 1px solid #e4e4e4;
  transition: all ease 500ms;
}
.m-menu_sticky .m-menu__logo {
  content: url("./../img/MODINO_logo_short.svg");
}
.m-menu__logo {
  width: 100px;
}
@media screen and (min-width: 600px) {
  .m-menu__logo {
    width: 140px;
  }
}
.m-menu__cta-button {
  --mdc-outlined-button-outline-color: #004680;
  --mdc-outlined-button-hover-state-layer-color: #e4e9ed;
  --mdc-outlined-button-focus-state-layer-opacity: 1;
  --mdc-outlined-button-pressed-state-layer-opacity: 1;
}
.m-menu__cta-button:hover {
  --mdc-outlined-button-hover-state-layer-opacity: 1;
}
.m-menu__cta-button.mdc-ripple-upgraded--background-focused .mdc-button__ripple:before {
  background-color: #bac7d4;
}
.m-menu__cta-button .mdc-button__ripple:after {
  background-color: #8ea3b7;
  z-index: 1;
}

.m-top-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-block-end: 2rem;
}
@media screen and (min-width: 600px) {
  .m-top-hero {
    margin-block-end: 5rem;
  }
}
.m-top-hero::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 12vw));
  width: calc(70vh + 70vw);
  height: 130vh;
  background-image: url("../img/top_hero.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
@media screen and (min-width: 600px) {
  .m-top-hero::before {
    transform: translate(-40vw, calc(-50vh - 25vw));
    width: 130vw;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .m-top-hero::before {
    transform: translate(calc(-50% + 25vw), calc(-50% - 3vw));
    width: 115vh;
  }
}
@media (min-width: 1000px) and (max-width: 1439px) {
  .m-top-hero::before {
    transform: translate(calc(-50% + 25vw), calc(-50% - 10vw));
    width: 100vw;
  }
}
@media (min-width: 1441px) {
  .m-top-hero::before {
    transform: translate(-45vw, calc(-50vh - 20vw));
    width: 130vw;
    height: 130vh;
  }
}
.m-top-hero__wrapper {
  position: relative;
  top: -20vh;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .m-top-hero__wrapper {
    text-align: left;
    top: unset;
    width: 500px;
    align-items: left;
  }
}
.m-top-hero__title {
  font-size: 2.375rem;
  line-height: 2.375rem;
}
@media screen and (min-width: 600px) {
  .m-top-hero__title {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-block-end: 1rem;
  }
}
.m-top-hero__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 350px;
  margin: 0 auto;
  margin-block-end: 1.5rem;
}
@media screen and (min-width: 600px) {
  .m-top-hero__description {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: unset;
    max-width: unset;
    margin-block-end: 3rem;
  }
}
.m-top-hero__action-button {
  padding: 0.75rem 2rem;
  height: unset;
}
.m-top-hero .m-header__title {
  font-size: 3.5rem;
  line-height: 4rem;
}

.m-mission {
  margin-block-end: 4rem;
}
@media screen and (min-width: 600px) {
  .m-mission {
    margin-block-end: 6rem;
  }
}
.m-mission .m-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin-block-end: 4rem;
}
@media screen and (min-width: 600px) {
  .m-mission .m-quote {
    flex-direction: row;
    max-width: 680px;
    margin-block-end: 6rem;
  }
}
.m-mission .m-quote__text {
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  word-break: break-word;
}
@media screen and (min-width: 600px) {
  .m-mission .m-quote__text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.m-mission .m-quote span {
  position: relative;
}
.m-mission .m-quote__image {
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 80px;
  top: -37px;
  left: -30px;
}
@media screen and (min-width: 600px) {
  .m-mission .m-quote__image {
    top: -37px;
    left: -54px;
    width: 100px;
    height: 100px;
  }
}
.m-mission .m-quote__image svg {
  width: 100%;
  height: 100%;
}
.m-mission .m-quote__image svg path {
  fill: #e3f1f8;
}
.m-mission .m-quote__author {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  padding-block-start: 2rem;
}
@media screen and (min-width: 600px) {
  .m-mission .m-quote__author {
    right: 0;
    width: initial;
  }
}
.m-mission .m-quote__author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-inline-end: 1rem;
}

.m-explanation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #004680;
  border-radius: 6px;
  padding: 2rem 1.5rem;
  margin-block-end: 4rem;
}
@media screen and (min-width: 600px) {
  .m-explanation {
    flex-direction: row;
    gap: 6rem;
    padding: 2rem 4rem;
    margin-block-end: 8rem;
  }
}
.m-explanation__image {
  flex: 1;
  text-align: right;
}
.m-explanation__image img {
  max-width: 100%;
}
.m-explanation__text {
  flex: 1;
  color: rgba(255, 255, 255, 0.87);
}
.m-explanation__title, .m-explanation__description {
  max-width: 480px;
}
.m-explanation__title {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  margin-block-end: 1.5rem;
}
@media screen and (min-width: 600px) {
  .m-explanation__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.m-explanation__description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .m-explanation__description {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.m-values {
  margin-block-end: 1rem;
}
@media screen and (min-width: 600px) {
  .m-values {
    margin-block-end: 8rem;
  }
}
.m-values__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .m-values__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.m-values__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
@media screen and (min-width: 600px) {
  .m-values__item {
    margin-block-start: 1rem;
  }
}
.m-values__item-image {
  height: 100px;
  margin-block-end: 1.5rem;
}
@media (min-width: 600px) and (max-width: 999px) {
  .m-values__item-image {
    height: 140px;
  }
}
@media screen and (min-width: 1000px) {
  .m-values__item-image {
    height: 180px;
    margin-block-end: 3rem;
  }
}
.m-values__item-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
  margin-block-end: 1rem;
}
@media screen and (min-width: 600px) {
  .m-values__item-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.m-values__item-description {
  margin: 0;
  margin-block-end: 3rem;
}
@media screen and (min-width: 600px) {
  .m-values__item-description {
    margin-block-end: 0;
  }
}
.m-values__item-image, .m-values__item-title, .m-values__item-description {
  text-align: center;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
@media screen and (min-width: 600px) {
  .m-values__item-image, .m-values__item-title, .m-values__item-description {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }
}

.m-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  padding: 32px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  background-color: #fff;
}
.m-form__title {
  margin: 0;
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.87);
  font-size: 2rem;
  line-height: 2rem;
}
.m-form .mdc-text-field,
.m-form .mdc-select {
  width: 100%;
}
.m-form .mdc-text-field [class^=mdc-notched-outline__],
.m-form .mdc-select [class^=mdc-notched-outline__] {
  border-color: #e4e4e4;
}
.m-form .mdc-text-field--focused .mdc-floating-label {
  color: #004680;
}
.m-form .mdc-text-field--invalid .mdc-floating-label {
  color: var(--mdc-theme-error);
}
.m-form .m-select.mdc-select--focused .mdc-floating-label {
  color: #004680;
}
.m-form .m-select.mdc-select--invalid .mdc-floating-label {
  color: var(--mdc-theme-error);
}
.m-form__checkbox-container {
  margin-inline-start: -11px;
  display: flex;
  flex-direction: column;
}
.m-form__checkbox-container .mdc-checkbox {
  --mdc-checkbox-unchecked-color: #e4e4e4;
}
.m-form__checkbox-container .mdc-checkbox.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple:before {
  background-color: #e4e4e4;
}
.m-form__checkbox-container .m-link {
  color: #004680;
  text-decoration: underline;
  cursor: pointer;
}
.m-form .mdc-button {
  text-transform: none;
  font-weight: bold;
  align-self: flex-start;
}

.m-form-section {
  padding: 32px 24px;
  justify-content: center;
  background-color: #fbfbfb;
}
@media (min-width: 1240px) {
  .m-form-section {
    padding: 60px 80px;
  }
}

.m-image-section {
  flex-grow: 1;
  background-color: #004680;
  display: flex;
  padding: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.m-image-section .m-request-access-img {
  width: 100%;
}
.m-image-section .m-logo-img {
  width: 80%;
}
@media (min-width: 840px) {
  .m-image-section .m-request-access-img {
    width: 70%;
  }
  .m-image-section .m-logo-img {
    width: 30%;
  }
}

.m-request-main {
  height: 100%;
  max-width: unset;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1240px) {
  .m-request-main {
    flex-wrap: nowrap;
  }
}

:root {
  --mdc-theme-primary: #004680;
  --mdc-theme-secondary: #004680;
}

cite {
  font-style: normal;
}

blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
