@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  font-weight: 700;
}
:root {
  --mdc-typography-font-family: "Nunito", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fbfbfb;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.m-header {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
}
.m-header__highlight {
  color: #004680;
}

.m-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

:root {
  --mdc-theme-primary: #004680;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
body,
html {
  margin: 0;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.m-section.m-team-section {
  margin-block-end: 4rem;
}
.m-section__header {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Ubuntu";
}
.m-section__menu {
  width: 100%;
  padding-inline-start: unset;
  margin: 0;
}
.m-section__list {
  width: 100%;
  padding-inline-start: unset;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  margin: 0;
  gap: 1.5rem;
  height: 40px;
}
@media (min-width: 480px) {
  .m-section__list {
    justify-content: center;
  }
}
.m-section__item {
  flex: none;
  height: 100%;
  width: 120px;
}
.m-section__item button[role=tab] {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  font-family: "Nunito";
}
.m-section__item button[role=tab]:hover {
  color: #497291;
}
.m-section__item.active button[role=tab] {
  font-weight: bold;
  color: #004680;
  border-bottom: 2px solid #004680;
  z-index: 1;
}
.m-section hr {
  width: 100%;
  margin: 0;
  margin-bottom: 4rem;
  position: relative;
  top: -1px;
  border: none;
  height: 1px;
  background-color: #e4e4e4;
}
.m-section .m-people-list {
  display: flex;
  align-items: flex-start;
  gap: 1.375rem;
  padding-inline: 2rem;
}
.m-section .m-people-list[hidden] {
  display: none;
}
@media (min-width: 480px) {
  .m-section .m-people-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 4rem;
    gap: 4rem;
  }
}
.m-section .m-person-card {
  display: flex;
  min-width: 300px;
}
.m-section .m-person-card p {
  margin: 0;
}
.m-section .m-person-card__image {
  margin-inline-end: 1.5rem;
  border-radius: 6px;
}
@media (min-width: 480px) {
  .m-section .m-person-card {
    width: calc(33.3333333333% - 64px);
  }
}

.m-team-photo {
  width: 100%;
  border-radius: 6px;
}

.m-summary {
  width: 100%;
  height: calc(100vh - 115px);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: clip;
}
.m-summary::before {
  content: "";
  background-image: url("./../img/Decoration - Full.svg");
  background-position: center;
  background-size: 100% 100%;
  left: -100%;
  top: 10%;
  background-repeat: no-repeat;
  position: absolute;
  width: 200%;
  height: 150%;
  z-index: -1;
}
@media (min-width: 480px) {
  .m-summary::before {
    background-size: 150% 100%;
    top: 0;
  }
}
@media (min-width: 480px) {
  .m-summary {
    height: calc(100vh - 72px);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 4rem;
  }
}
.m-summary .m-security-img {
  width: 75%;
}
@media (min-width: 480px) {
  .m-summary .m-security-img {
    max-width: 400px;
    max-height: 400px;
    margin-inline-end: 8rem;
  }
}
.m-summary .m-wrapper {
  text-align: center;
}
@media (min-width: 480px) {
  .m-summary .m-wrapper {
    text-align: unset;
    flex-grow: 1;
  }
}
.m-summary .m-header {
  margin-block: 4rem 2rem;
}
@media (min-width: 480px) {
  .m-summary .m-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-block-start: 0;
  }
}
.m-summary button {
  background-color: #ed2d24;
  color: #fbfbfb;
  padding: 0.75rem 2rem;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  margin-block-end: 8rem;
}
@media (min-width: 480px) {
  .m-summary button {
    margin-block-end: unset;
  }
}

.m-footer {
  background-color: rgba(0, 0, 0, 0.87);
  color: #fbfbfb;
}
.m-footer__content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
}
.m-footer__content p {
  margin-block-end: 0;
}
@media (min-width: 480px) {
  .m-footer__content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .m-footer__content p {
    margin: 0;
  }
}

a {
  height: 20px;
}
a:hover {
  opacity: 0.8;
}
