@use "theme" as *;
@use "sass:map";

:root {
  --cc-font-family: "Nunito", sans-serif;
  --cc-text: map.get($modino-colors, surface, text);
  --cc-btn-primary-bg: #{map.get($modino-colors, primary, 900)};
  --cc-btn-primary-hover-bg: #{map.get($modino-colors, primary, 800)};
  --cc-btn-primary-text: #{map.get($modino-colors, surface, text-contrast)};
  --cc-btn-primary-hover-text: #{map.get($modino-colors, surface, text-contrast)};
  --cc-btn-secondary-bg: #{map.get(
      $modino-colors,
      surface,
      background-high-contrast
    )};
  --cc-btn-secondary-hover-bg: #{map.get($modino-colors, secondary-2, 50)};
  --cc-btn-secondary-text: #{map.get($modino-colors, primary, 900)};
  --cc-btn-secondary-hover-text: #{map.get($modino-colors, primary, 900)};
}
