/*
 * Modino.io Confidential
 *
 * Object code only source materials
 *
 * Modino.io - Safe and Secure updates - Platform for safe and secure software delivery
 *
 * (C) Copyright Modino.io Sp. z o.o. <copyright@modino.io> 2020-2023. All Rights Reserved.
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has
 * been deposited with any of the Copyright Offices.
 */

@use "theme";
@use "sass:map";

.m-team-header {
  margin-block-start: theme.spacing(48);
  padding-block-end: theme.spacing(24);

  @media (min-width: 800px) {
    margin-block-start: theme.spacing(32);
  }

  .m-team-photo {
    width: 100%;

    @media (min-width: 1240px) {
      border-radius: theme.$border-radius;
    }
  }

  .m-section__content {
    padding-inline: 0;
  }
}

.m-team {
  &.m-section {
    padding-block-start: 0;
  }

  &.m-section {
    padding-inline: 0;
  }

  &__menu {
    width: 100%;
    padding-inline-start: unset;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: theme.spacing(4);
    padding-inline-start: 0;
    margin-inline: theme.spacing(12);
    margin-block-start: 0;
    margin-block-end: theme.spacing(16);

    @media (min-width: 800px) {
      flex-wrap: nowrap;
      justify-content: space-around;

      padding-inline-start: unset;
      overflow-x: scroll;
      height: 40px;
      margin-block-end: theme.spacing(24);
    }

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    &-item {
      @media (min-width: 800px) {
        flex: none;
        height: 100%;
        padding-inline: 20px;
        border-bottom: 2px solid transparent;
      }

      button[role="tab"] {
        --mdc-outlined-button-label-text-color: #{map.get(
            theme.$modino-colors,
            surface,
            text
          )};

        @include theme.m-font("body-3");

        box-shadow: none;

        @media (min-width: 800px) {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 1rem;
          text-align: center;
          color: map.get(theme.$modino-colors, surface, text);
          position: relative;
          padding: 0;
        }

        &:hover {
          --mdc-protected-button-container-color: #{map.get(
              theme.$modino-colors,
              primary,
              800
            )};
        }

        &:focus {
          --mdc-protected-button-container-color: #{map.get(
              theme.$modino-colors,
              primary,
              700
            )};

          box-shadow: none;
        }

        &:not(.mdc-button--raised) {
          &:hover {
            color: map.get(theme.$modino-colors, secondary-1, 600);
          }

          &:focus {
            box-shadow: none;
            color: map.get(theme.$modino-colors, secondary-1, 600);
          }
        }

        &.mdc-button--raised {
          --mdc-outlined-button-label-text-color: #{map.get(
              theme.$modino-colors,
              surface,
              text-contrast
            )};
        }
      }

      &.active {
        @media (min-width: 800px) {
          border-color: map.get(theme.$modino-colors, primary, 900);
          z-index: 1;
          button[role="tab"] {
            font-weight: bold;
            color: map.get(theme.$modino-colors, primary, 900);
          }
        }
      }
    }
  }
  hr {
    display: none;

    @media (min-width: 800px) {
      width: 100%;
      margin: 0;
      margin-bottom: theme.spacing(32);
      position: relative;
      top: -1px;
      border: none;
      height: 1px;
      background-color: map.get(theme.$modino-colors, surface, border);
    }
  }

  .m-people-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: theme.spacing(12);
    padding-inline: theme.spacing(12);

    @media (min-width: 800px) {
      padding-inline: theme.spacing(32);
    }

    &[hidden] {
      display: none;
    }
  }

  .m-person-card {
    display: flex;

    p {
      margin: 0;
    }

    &__image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: top center;
      margin-inline-end: theme.spacing(12);
      border-radius: theme.$border-radius;
    }

    &__info {
      a {
        display: inline-flex;
        margin-block-start: theme.spacing(4);
      }
    }
  }
}

.m-values {
  &__list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media screen and (min-width: 600px) {
      margin-block-start: theme.spacing(8);
    }
  }

  &__item-image {
    height: 100px;
    margin-block-end: theme.spacing(12);

    @media (min-width: 600px) and (max-width: 999px) {
      height: 140px;
    }

    @media screen and (min-width: 1000px) {
      height: 180px;
      margin-block-end: theme.spacing(24);
    }
  }

  &__item-title {
    @include theme.m-font("subheading-3");

    margin: 0;
    margin-block-end: theme.spacing(8);

    @media (min-width: 600px) {
      @include theme.m-font("body-1");
      font-weight: 700;
    }
  }

  &__item-description {
    margin: 0;
    margin-block-end: theme.spacing(24);

    @media screen and (min-width: 600px) {
      margin-block-end: 0;
    }
  }

  &__item-image,
  &__item-title,
  &__item-description {
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;

    @media screen and (min-width: 600px) {
      padding-inline-start: theme.spacing(12);
      padding-inline-end: theme.spacing(12);
    }
  }
}

.m-ready-to-join {
  background-color: map.get(theme.$modino-colors, primary, 900);
  color: map.get(theme.$modino-colors, surface, background-high-contrast);
  padding-block: theme.spacing(32);

  .m-section__header {
    @include theme.m-font("heading-4");

    margin-block-start: 0;
  }

  &__text {
    text-align: center;
  }

  &__link {
    $text-color: map.get(theme.$modino-colors, primary, 200);

    @include theme.m-font("body-1");

    display: inline-flex;
    align-items: center;
    color: $text-color;

    svg {
      margin-inline-start: theme.spacing(4);

      path {
        fill: $text-color;
      }
    }
  }
}
