/*
 * Modino.io Confidential
 *
 * Object code only source materials
 *
 * Modino.io - Safe and Secure updates - Platform for safe and secure software delivery
 *
 * (C) Copyright Modino.io Sp. z o.o. <copyright@modino.io> 2020-2023. All Rights Reserved.
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has
 * been deposited with any of the Copyright Offices.
 */

@use "theme" as *;
@use "sass:map";

.m-shape-future {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-block-end: spacing(32);

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    left: 35%;
    top: 100%;
    transform: translate(-60%, calc(-50% - 12vw));
    width: calc(80vh + 80vw);
    height: 130vh;
    background-image: url("../img/decoration-shape-the-future.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media screen and (min-width: 600px) {
      transform: translate(calc(-50vw + 10vw), calc(-50vh - 25vw));
      width: 130vw;
    }

    @media (min-width: 600px) and (max-width: 799px) {
      transform: translate(-50%, calc(-50% - 25vw));
      width: 120vh;
    }

    @media (min-width: 800px) and (max-width: 1439px) {
      transform: translate(-65%, -65%);
      width: 150vh;
    }

    @media (min-width: 1441px) {
      transform: translate(-60%, -70%);
      width: 130vw;
      height: 130vh;
    }
  }

  .m-section__header {
    @include m-font("heading-1-mobile");
    margin-block-start: 0;
    margin-block-end: spacing(16);

    @media (min-width: 800px) {
      @include m-font("heading-1");

      text-align: start;
      margin-block-end: spacing(24);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 800px) {
      flex-direction: row-reverse;
      gap: 10%;
    }

    > * {
      flex: 1;
    }
  }

  p {
    text-align: center;

    @media (min-width: 800px) {
      @include m-font("body-1");

      text-align: left;
    }
  }

  img {
    min-width: 0;
    max-width: 80%;
    max-height: auto;
  }
}

.m-partner-program {
  background-color: map.get($modino-colors, primary, 900);
  color: map.get($modino-colors, surface, text-contrast);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-end: spacing(32);

    @media (min-width: 800px) {
      flex-direction: row;
    }
  }

  .m-program-tile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 0;
    margin-block-start: spacing(16);
    flex: 1;

    @media (min-width: 800px) {
      margin-block-start: 0;
      &:nth-child(2) {
        .m-program-tile__text {
          margin-block-start: spacing(24);
        }
      }
    }

    &__title {
      img {
        min-width: 0;
        max-width: 100%;
        max-height: auto;
        @media (min-width: 800px) {
          max-height: 176px;
        }
      }
    }
    &__text {
      text-align: center;
      margin-block-start: spacing(12);
      max-width: 500px;

      @media (min-width: 800px) {
        max-width: unset;
      }
    }

    &__title,
    &__text {
      @media screen and (min-width: 800px) {
        padding-inline-start: spacing(12);
        padding-inline-end: spacing(12);
      }
    }
  }
}

.m-benefits {
  padding-block: spacing(32);

  &__content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header"
      "image image"
      "text text";

    @media (min-width: 800px) {
      column-gap: spacing(24);
      grid-template-areas:
        "image header"
        "image text"
        "image text";
    }
  }

  .m-section__header,
  &__image {
    margin-block-end: spacing(32);

    @media (min-width: 800px) {
      margin-block-end: 0;
    }
  }

  .m-section__header {
    grid-area: header;
    margin-block-start: 0;

    @media (min-width: 800px) {
      text-align: left;
      margin-block-end: spacing(20);
    }
  }

  &__image {
    grid-area: image;
    min-width: 0;
    max-height: auto;
    max-width: 500px;
  }

  &__text {
    grid-area: text;
    text-align: left;

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;
      margin-block: 0;
      li {
        display: flex;
        justify-content: flex-end;
        &:not(:last-child) {
          margin-block-end: spacing(30);
        }
      }
    }
  }

  &__list-item-counter {
    height: 48px;
    width: 48px;
    margin-inline-end: spacing(4);

    @media (min-width: 800px) {
      height: 32px;
      width: 32px;
    }
  }
}

.m-how-works {
  display: flex;
  flex-direction: column;
  background-color: map.get($modino-colors, primary, 900);
  color: map.get($modino-colors, surface, text-contrast);
  padding-block: spacing(32);

  .m-section__header {
    margin-block-start: 0;
    margin-block-end: spacing(16);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__text {
    margin-block-end: spacing(16);

    @media (min-width: 800px) {
      margin-block-end: spacing(32);
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: 800px) {
      flex-direction: row;
    }
  }

  &__step {
    @include m-font("subheading-2");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 4px solid #{map.get($modino-colors, secondary-1, 400)};
    width: 190px;
    height: 190px;

    p {
      width: 160px;
    }

    img {
      max-width: 100%;
    }
  }
}

.m-join-grow {
  padding-block: spacing(32);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-60%, calc(-50% - 12vw));
    width: calc(80vh + 80vw);
    height: 130vh;
    background-image: url("../img/join_engage_grow-blob.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media screen and (min-width: 600px) {
      transform: translate(calc(-50vw + 10vw), calc(-50vh - 25vw));
      width: 130vw;
    }

    @media (min-width: 600px) and (max-width: 799px) {
      transform: translate(-60%, calc(-50% - 3vw));
      width: 120vh;
    }

    @media (min-width: 800px) and (max-width: 1439px) {
      transform: translate(-75%, calc(-50% - -20vw));
      width: 150vh;
    }

    @media (min-width: 1441px) {
      transform: translate(-74%, -30%);
      width: 130vw;
      height: 130vh;
    }
  }

  .m-section__header {
    margin-block-start: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 800px) {
      flex-direction: row;
      gap: spacing(24);
    }
  }

  &__description {
    margin-block-end: spacing(16);
  }

  &__text {
    ul {
      list-style-type: numeric;
      margin-block: 0;
      padding-inline-start: spacing(8);

      li {
        @include m-font("body-1-mobile");
        font-weight: 700;

        &::marker {
          color: map.get($modino-colors, accent, 500);
        }

        @media (min-width: 600px) {
          &:last-of-type {
            p {
              margin-block-end: 0;
            }
          }
        }
      }
    }

    &:last-of-type {
      background-color: red;
    }
  }

  &__point-text {
    @include m-font("body-3");

    margin-block-end: spacing(16);
  }

  &__join-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mdc-text-field--focused:not(.mdc-text-field--invalid) {
      .mdc-floating-label {
        color: map.get($modino-colors, primary, 900);
      }
    }

    p {
      margin-block: spacing(20);
      text-align: center;
    }

    &-checkbox {
      label {
        padding-top: 20px;
        text-align: left;
      }
    }

    &-field-wrapper:last-of-type {
      padding-bottom: spacing(14);
    }

    form {
      text-align: center;
      width: 100%;

      .mdc-text-field {
        width: 100%;
      }
      button {
        @include m-font("body-4");

        font-weight: 700;
        height: unset;
        padding: spacing(6, 16);

        --mdc-filled-button-container-color: #{map.get(
            $modino-colors,
            accent,
            600
          )};
        --mdc-filled-button-hover-state-layer-color: #{map.get(
            $modino-colors,
            accent,
            400
          )};

        --mdc-filled-button-hover-state-layer-opacity: 1;
        --mdc-filled-button-focus-state-layer-opacity: 1;
        --mdc-filled-button-pressed-state-layer-opacity: 1;

        &.mdc-ripple-upgraded--background-focused {
          .mdc-button__ripple {
            &:before {
              background-color: map.get($modino-colors, accent, 500);
            }
          }
        }

        .mdc-button__ripple {
          &:after {
            background-color: map.get($modino-colors, accent, 300);
            z-index: 1;
          }
        }
      }
    }
  }
}

.m-program-presentation {
  display: flex;
  flex-direction: column;
  background-color: map.get($modino-colors, primary, 900);
  color: map.get($modino-colors, surface, text-contrast);
  padding-block: spacing(32);

  &__text {
    margin-block-end: spacing(8);
  }

  &__link {
    display: flex;
    justify-items: center;
    text-decoration: underline;
    color: map.get($modino-colors, primary, 200);
  }
}
