/*
 * Modino.io Confidential
 *
 * Object code only source materials
 *
 * Modino.io - Safe and Secure updates - Platform for safe and secure software delivery
 *
 * (C) Copyright Modino.io Sp. z o.o. <copyright@modino.io> 2020-2023. All Rights Reserved.
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has
 * been deposited with any of the Copyright Offices.
 */

.m-key-aspects {
  margin-block-end: theme.spacing(8);

  @media screen and (min-width: 600px) {
    margin-block-end: theme.spacing(64);
  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-column-gap: theme.spacing(48);

    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: theme.spacing(24);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 600px) {
      margin-block-start: theme.spacing(8);
    }
  }

  &__item-image {
    height: 100px;
    margin-block-end: theme.spacing(12);

    @media (min-width: 600px) and (max-width: 999px) {
      height: 140px;
    }

    @media screen and (min-width: 1000px) {
      height: 180px;
      margin-block-end: theme.spacing(24);
    }
  }

  &__item-title {
    @include theme.m-font("body-1");

    font-weight: 700;
    margin: 0;
    margin-block-end: theme.spacing(8);
  }

  &__item-description {
    margin: 0;
    margin-block-end: theme.spacing(24);

    @media screen and (min-width: 600px) {
      margin-block-end: 0;
    }
  }

  &__item-image,
  &__item-title,
  &__item-description {
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;

    @media screen and (min-width: 600px) {
      padding-inline-start: theme.spacing(12);
      padding-inline-end: theme.spacing(12);
    }
  }
}

.m-solution-hero {
  .m-top-hero__wrapper {
    width: 100%;

    text-align: center;
  }

  &__video-container {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 200vw;
      height: 200%;
      transform: translate(-28%);

      background-image: url("../img/decoration_blob.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 150vw;
    }
    iframe {
      margin-block-start: theme.spacing(16);
      width: 100%;
      border: none;

      @media screen and (max-width: 800px) {
        height: 50vw;
      }
    }
  }
}

.m-manifesto {
  display: flex;
  flex-direction: column;
  background-color: map.get(theme.$modino-colors, primary, 900);
  color: map.get(theme.$modino-colors, surface, text-contrast);
  padding-block: theme.spacing(32);
  gap: 48px;

  p {
    margin: 0;
  }

  & .m-section {
    &__content {
      @include theme.m-font("subheading-2");
      @media screen and (min-width: 800px) {
        align-self: flex-start;
      }
    }
  }

  .m-security-wrapper {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 800px) {
      flex-direction: row;
    }
  }

  .m-security-graph {
    margin-block-start: theme.spacing(16);
    @media screen and (min-width: 800px) {
      flex-grow: 2;
      margin-block-start: 0;
    }
  }

  .tiles-container {
    display: flex;
    gap: 32px;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    &.m-security {
      @media screen and (min-width: 800px) {
        flex-direction: column;
        width: 50%;
      }

      .m-tile {
        @media screen and (min-width: 800px) {
          flex-direction: row;
          gap: 16px;
        }

        &__icon {
          @media screen and (min-width: 800px) {
            align-self: flex-start;
          }
        }

        &__content {
          text-align: start;
        }
      }
    }

    .m-tile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map.get(theme.$modino-colors, secondary-1, 200);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        flex-shrink: 0;

        img {
          width: 48px;
        }
      }

      &__content {
        @include theme.m-font("body-3");
        text-align: center;
      }
    }
  }

  .m-demo-screenshot {
    width: 100%;
  }

  &__divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgb(255 255 255 / 0.1724);
    margin-block: 0;
  }
}

.m-advantages {
  padding-block: theme.spacing(32);

  .cards-container {
    display: flex;
    width: 100%;
    gap: theme.spacing(16);
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    .m-card {
      background-color: map.get(
        theme.$modino-colors,
        surface,
        background-high-contrast
      );
      border: 1px solid map.get(theme.$modino-colors, surface, border);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: theme.spacing(8);
      padding: theme.spacing(12) theme.spacing(6);

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map.get(theme.$modino-colors, secondary-1, 200);
        height: 60px;
        width: 60px;
        border-radius: 50%;

        img {
          width: 32px;
        }
      }

      &__title {
        @include theme.m-font("subheading-2");
        text-align: center;
      }

      &__content {
        @include theme.m-font("body-3");
        text-align: center;
      }
    }
  }
}
