@use "theme";
@use "sass:map";

html,
body {
  overflow-x: clip;
}

body {
  background-color: map.get(theme.$modino-colors, surface, background);
  padding-block-start: theme.spacing(24);
}

main {
  position: relative;
  top: -84px;
  max-width: 1240px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 theme.spacing(32);
}

.m-header {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  margin: theme.spacing(24, 0);

  &__highlight {
    color: map.get(theme.$modino-colors, primary, 900);
  }
}

.highlight {
  color: map.get(theme.$modino-colors, primary, 900);
  font-weight: 700;
}

.m-menu {
  display: flex;
  position: sticky;
  top: 0;
  flex-grow: 1;
  z-index: 2;
  transition: all ease 100ms;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    height: 84px;
    max-width: 1240px;
    padding: 0 theme.spacing(32);
    margin: 0 auto;
    flex-grow: 1;
  }

  &_sticky {
    background-color: map.get(theme.$modino-colors, surface, background);
    border-bottom: 1px solid map.get(theme.$modino-colors, surface, border);
    transition: all ease 500ms;

    .m-menu__logo {
      content: url("./../img/MODINO_logo_short.svg");
    }
  }

  &__logo {
    width: 140px;
  }

  &__cta-button {
    --mdc-outlined-button-outline-color: #{map.get(
        theme.$modino-colors,
        primary,
        900
      )};
    --mdc-outlined-button-hover-state-layer-color: #{map.get(
        theme.$modino-colors,
        secondary-2,
        50
      )};
    --mdc-outlined-button-focus-state-layer-opacity: 1;
    --mdc-outlined-button-pressed-state-layer-opacity: 1;

    &:hover {
      --mdc-outlined-button-hover-state-layer-opacity: 1;
    }

    &.mdc-ripple-upgraded--background-focused {
      .mdc-button__ripple {
        &:before {
          background-color: map.get(theme.$modino-colors, secondary-2, 100);
        }
      }
    }

    .mdc-button__ripple {
      &:after {
        background-color: map.get(theme.$modino-colors, secondary-2, 200);
        z-index: 1;
      }
    }
  }
}

.m-top-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-block-end: theme.spacing(40);

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50vw + 10vw), calc(-50vh - 25vw));
    width: 130vw;
    height: 130vh;
    background-image: url("../img/top_hero.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &__wrapper {
    width: 500px;
  }

  &__title {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-block-end: theme.spacing(8);
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin-block-end: theme.spacing(24);
  }

  &__action-button {
    padding: theme.spacing(6, 16);
    height: unset;

    .mdc-button__label {
      display: block;
    }
  }

  .m-header__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.m-mission {
  padding-block-end: theme.spacing(56);

  .m-quote {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    max-width: 680px;
    margin-block-end: theme.spacing(48);

    &__text {
      display: inline-block;
      position: relative;
      text-align: center;
      flex: 2;
      font-size: 1.5rem;
      line-height: 2rem;
      word-break: break-word;
      text-indent: 0;
    }

    span {
      position: relative;
    }

    &__image {
      position: absolute;
      top: -37px;
      left: -54px;
      z-index: -1;
      width: 100px;
      height: 100px;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: map.get(theme.$modino-colors, primary, 50);
        }
      }
    }

    &__author {
      $image_size: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      font-size: 1rem;
      line-height: 1.5rem;
      color: map.get(theme.$modino-colors, surface, text);
      padding-block-start: theme.spacing(16);

      &-image {
        width: $image_size;
        height: $image_size;
        border-radius: 50%;
        margin-inline-end: theme.spacing(8);
      }
    }
  }
}

.m-explanation {
  display: flex;
  flex-direction: row;
  gap: theme.spacing(48);
  background-color: map.get(theme.$modino-colors, primary, 900);
  border-radius: theme.$border-radius;
  padding: theme.spacing(16, 32);

  &__image {
    flex: 1;
    text-align: right;

    img {
      max-width: 100%;
    }
  }

  &__text {
    flex: 1;
    color: map.get(theme.$modino-colors, surface, text-contrast);
  }

  &__title,
  &__description {
    max-width: 480px;
  }

  &__title {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    margin-block-end: theme.spacing(12);
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0;
  }
}

.m-values {
  margin-block-end: theme.spacing(40);

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  &__item-image {
    height: 180px;
    padding-block-start: theme.spacing(16);
    margin-block-end: theme.spacing(24);
  }

  &__item-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    margin-block-end: theme.spacing(8);
  }

  &__item-description {
    margin: 0;
    padding-block-end: theme.spacing(16);
  }

  &__item-image,
  &__item-title,
  &__item-description {
    text-align: center;
    padding-inline-start: theme.spacing(12);
    padding-inline-end: theme.spacing(12);
  }
}

@media screen and (max-width: 599px) {
  body {
    padding-block-start: theme.spacing(12);
  }

  main {
    top: -46px;
  }

  section {
    padding: 0 theme.spacing(12);
  }

  .m-header {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: theme.spacing(16) 0;
  }

  .m-menu {
    margin-block-start: theme.spacing(12);

    &__navigation {
      height: 46px;
      padding: 0 theme.spacing(12);
    }

    &__cta-button {
      display: none;
    }

    &__logo {
      width: 100px;
    }
  }

  .m-top-hero {
    text-align: center;
    margin-block-end: theme.spacing(16);

    &::before {
      transform: translate(-50%, calc(-50% - 12vw));
      width: calc(70vh + 70vw);
    }

    &__wrapper {
      position: relative;
      top: -20vh;
      width: 100%;
      align-items: center;
    }

    &__title {
      font-size: 2.375rem;
      line-height: 2.375rem;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.25rem;
      max-width: 350px;
      margin: 0 auto;
      margin-block-end: theme.spacing(12);
    }
  }

  .m-mission {
    padding-block-end: theme.spacing(32);

    .m-quote {
      flex-direction: column;
      width: 100%;

      &__text {
        font-size: 1.25rem;
        line-height: 1.75rem;
        max-width: unset;
        margin-block-end: theme.spacing(32);
      }

      &__image {
        width: 80px;
        height: 80px;
        top: -37px;
        left: -30px;
      }

      &__author {
        width: 100%;
      }
    }
  }

  .m-explanation {
    display: flex;
    flex-direction: column;
    gap: theme.spacing(16);
    margin-block-end: theme.spacing(32);
  }

  .m-values {
    margin-block-end: theme.spacing(16);

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-block-start: theme.spacing(8);

      &:first-of-type {
        padding-inline-end: 0;
      }

      &:last-of-type {
        padding-inline-start: 0;
      }

      &:not(:last-of-type):not(:first-of-type) {
        padding: 0;
      }

      &:not(:last-of-type) {
        border-right: none;
      }
    }

    &__item-image {
      height: 100px;
      padding-block-start: theme.spacing(12);
      margin-block-end: theme.spacing(12);
    }

    &__item-title {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    &__item-description {
      padding-block-end: theme.spacing(16);
    }

    &__item-image,
    &__item-title,
    &__item-description {
      text-align: center;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  section {
    padding: 0 theme.spacing(12);
  }

  .m-top-hero {
    &::before {
      transform: translate(calc(-50% + 25vw), calc(-50% - 5vw));
      width: 115vh;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1120px) {
  .m-top-hero {
    &::before {
      transform: translate(calc(-50% + 25vw), calc(-50% - 10vw));
      width: 100vw;
    }
  }
}

@media (min-width: 1441px) {
  .m-top-hero {
    &::before {
      transform: translate(calc(-50vw + 5vw), calc(-50vh - 20vw));
      width: 130vw;
      height: 130vh;
    }
  }
}
