@use "../../scss/theme";
@use "sass:map";

.mTeamHeader {
  margin-block-start: theme.spacing(32);

  @media (min-width: 600px) {
    padding-block-end: theme.spacing(24);
  }

  @media (min-width: 800px) {
    margin-block-start: theme.spacing(32);
  }

  .mTeamPhoto {
    width: 100%;

    @media (min-width: 1240px) {
      border-radius: theme.$border-radius;
    }
  }

  :global .m-section__content {
    padding-inline: 0;
  }
}

.mTeam {
  padding-block-start: 0;
  padding-inline: 0;

  &Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline-start: unset;
    margin: 0;
  }

  &List {
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: theme.spacing(4);

    margin-block-start: 0;
    margin-block-end: theme.spacing(16);

    @media (min-width: 800px) {
      flex-wrap: nowrap;
      justify-content: space-around;

      padding-inline-start: unset;
      overflow-x: scroll;
      height: 40px;
      margin-block-end: theme.spacing(24);
    }

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    &Item {
      @media (min-width: 800px) {
        flex: none;
        height: 100%;
        padding-inline: 20px;
        border-bottom: 2px solid transparent;
      }

      :global button[role="tab"] {
        --mdc-outlined-button-label-text-color: #{map.get(
            theme.$modino-colors,
            surface,
            text
          )};

        .mdc-button {
          &__label {
            @include theme.m-font("body-3");
          }
        }
        box-shadow: none;

        @media (min-width: 800px) {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 1rem;
          text-align: center;
          color: map.get(theme.$modino-colors, surface, text);
          position: relative;
          padding: 0;
        }

        &:hover {
          --mdc-protected-button-container-color: #{map.get(
              theme.$modino-colors,
              primary,
              800
            )};

          --mdc-outlined-button-hover-state-layer-color: none;
        }

        &:focus {
          --mdc-protected-button-container-color: #{map.get(
              theme.$modino-colors,
              primary,
              700
            )};

          box-shadow: none;
        }

        &:not(.mdc-button--raised) {
          &:hover {
            color: map.get(theme.$modino-colors, secondary-1, 600);
          }

          &:focus {
            box-shadow: none;
            color: map.get(theme.$modino-colors, secondary-1, 600);
          }
        }

        &.mdc-button--raised {
          --mdc-outlined-button-label-text-color: #{map.get(
              theme.$modino-colors,
              surface,
              text-contrast
            )};
        }
      }

      &Active {
        @media (min-width: 800px) {
          border-color: map.get(theme.$modino-colors, primary, 900);

          z-index: 1;
          :global button[role="tab"] {
            color: map.get(theme.$modino-colors, primary, 900);

            .mdc-button {
              &__label {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  hr {
    display: none;

    @media (min-width: 800px) {
      width: 100%;
      margin: 0;
      margin-bottom: theme.spacing(32);
      position: relative;
      top: -1px;
      border: none;
      height: 1px;
      background-color: map.get(theme.$modino-colors, surface, border);
    }
  }

  .mPeopleList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: theme.spacing(12);
    padding-inline: theme.spacing(12);

    @media (min-width: 800px) {
      padding-inline: 0;
    }

    &[hidden] {
      display: none;
    }
  }

  .mPersonCard {
    display: flex;

    p {
      margin: 0;
    }

    &Image {
      min-width: 150px;
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: top center;
      margin-inline-end: theme.spacing(12);
      border-radius: theme.$border-radius;
    }

    &Info {
      a {
        display: inline-flex;
        margin-block-start: theme.spacing(4);
      }
    }
  }
}

.mValues {
  &List {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media screen and (min-width: 600px) {
      margin-block-start: theme.spacing(8);
    }
  }

  &ItemImage {
    height: 100px;
    margin-block-end: theme.spacing(12);

    @media (min-width: 600px) and (max-width: 999px) {
      height: 140px;
    }

    @media screen and (min-width: 1000px) {
      height: 180px;
      margin-block-end: theme.spacing(24);
    }
  }

  &ItemTitle {
    @include theme.m-font("subheading-3");

    margin: 0;
    margin-block-end: theme.spacing(8);

    @media (min-width: 600px) {
      @include theme.m-font("body-1");
      font-weight: 700;
    }
  }

  &ItemDescription {
    margin: 0;
    margin-block-end: theme.spacing(24);

    @media screen and (min-width: 600px) {
      margin-block-end: 0;
    }
  }

  &ItemImage,
  &ItemTitle,
  &ItemDescription {
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;

    @media screen and (min-width: 600px) {
      padding-inline-start: theme.spacing(12);
      padding-inline-end: theme.spacing(12);
    }
  }
}

.mReadyToJoin {
  background-color: map.get(theme.$modino-colors, primary, 900);
  color: map.get(theme.$modino-colors, surface, background-high-contrast);
  padding-block: theme.spacing(32);

  :global .m-section__header {
    @include theme.m-font("heading-4");

    @media (min-width: 600px) {
      margin-block-end: theme.spacing(16);
    }
  }

  &Text {
    margin-block-start: 0;
    text-align: center;
  }

  &Link {
    $text-color: map.get(theme.$modino-colors, primary, 200);

    @include theme.m-font("body-3");

    display: inline-flex;
    align-items: center;
    color: $text-color;

    svg {
      margin-inline-start: theme.spacing(4);

      path {
        fill: $text-color;
      }
    }
  }
}
