@use "../../scss/theme";
@use "sass:map";

:root {
  --mdc-theme-primary: #004680;
  --mdc-theme-secondary: #004680;
}

html {
  font-size: 16px;
  color: map.get(theme.$modino-colors, surface, text);
  margin: 0;
  overflow-x: clip;
}

body {
  @include theme.m-font("body-3");

  letter-spacing: 0.25px;
  background-color: map.get(theme.$modino-colors, surface, background);
  height: 100%;
  margin: 0;
  overflow-x: clip;
}

a {
  &:hover {
    opacity: 0.8;
  }
}

main {
  position: relative;
  margin: 0 auto;
  overflow-y: clip;
  margin-top: -56px;

  @media screen and (min-width: 600px) {
    margin-top: -84px;
  }
}

.highlight {
  color: map.get(theme.$modino-colors, primary, 900);
  font-weight: 700;
}

.m-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-block: theme.spacing(32);

  &__header {
    @include theme.m-font("heading-4");

    padding-inline: theme.spacing(12);
    margin-block: 0 theme.spacing(16);
    text-align: center;

    @media (min-width: 600px) {
      @include theme.m-font("heading-2");

      padding-inline: theme.spacing(32);
      margin-block: 0 theme.spacing(24);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    padding-inline: theme.spacing(12);

    @media screen and (min-width: 600px) {
      padding-inline: theme.spacing(32);
    }
  }
}

.m-top-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding-block-start: 0;

  .m-section__content {
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 600px) {
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 600px) {
      text-align: left;
      top: unset;
      width: 500px;
    }
  }

  &__title {
    @include theme.m-font("heading-1-mobile");

    margin-block-start: theme.spacing(48);

    @media screen and (min-width: 600px) {
      @include theme.m-font("heading-1");

      margin-block-end: theme.spacing(8);
    }

    &-highlight {
      color: map.get(theme.$modino-colors, primary, 900);
    }
  }

  &__description {
    @include theme.m-font("body-3");

    max-width: 350px;
    margin: 0 auto;
    margin-block-end: theme.spacing(12);

    @media screen and (min-width: 600px) {
      @include theme.m-font("body-1");

      margin: unset;
      max-width: unset;
      margin-block-end: theme.spacing(24);
    }
  }

  &__action-button {
    padding: theme.spacing(6, 16);
    height: unset;
  }

  .m-header__title {
    @include theme.m-font("heading-1");
  }
}
