@use "../scss/theme";
@use "sass:map";

cite {
  font-style: normal;
}

blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.mHomeHero {
  justify-content: flex-start;

  @media (min-width: 600px) {
    justify-content: center;
  }

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 12vw));
    width: calc(70vh + 70vw);
    height: 130vh;
    background-image: url("/img/top_hero.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media screen and (min-width: 600px) {
      transform: translate(calc(-50vw + 10vw), calc(-50vh - 25vw));
      width: 130vw;
    }

    @media (min-width: 600px) and (max-width: 999px) {
      transform: translate(calc(-50% + 25vw), calc(-50% - 3vw));
      width: 115vh;
    }

    @media (min-width: 1000px) and (max-width: 1439px) {
      transform: translate(calc(-50% + 25vw), calc(-50% - 10vw));
      width: 100vw;
    }

    @media (min-width: 1441px) {
      transform: translate(calc(-50vw + 5vw), calc(-50vh - 20vw));
      width: 130vw;
      height: 130vh;
    }
  }
}

.mSummary {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-width: 999px) {
    height: calc(100vh - 72px);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: theme.spacing(32);
  }

  &::before {
    content: "";
    background-image: url("/img/Decoration - Full.svg");
    background-position: center;
    background-size: 100% 100%;
    left: calc(-85% - 5vw);
    top: 30%;
    background-repeat: no-repeat;
    position: absolute;
    width: 200%;
    height: 150%;
    z-index: -1;

    @media (min-width: 800px) {
      left: -80%;
      background-size: 150% 100%;
      top: 0;
    }
  }

  &Content {
    @media (min-width: 800px) {
      flex-direction: row-reverse;
      justify-content: center;
      gap: theme.spacing(32);
    }

    :global .m-section__header {
      @include theme.m-font("heading-1-mobile");

      margin-block: theme.spacing(32, 16);

      @media (min-width: 800px) {
        @include theme.m-font("heading-1");

        text-align: left;
        margin-block-start: 0;
        padding-inline-start: 0;
      }
    }
  }

  & .mSecurityImg {
    max-height: 190px;

    @media (min-width: 600px) {
      max-width: 400px;
      max-height: 400px;
    }
  }

  & .mWrapper {
    text-align: center;
    margin-block-end: theme.spacing(16);

    @media (min-width: 800px) {
      text-align: left;
    }
  }
}

.mMission {
  .mQuote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-block-end: theme.spacing(32);

    @media screen and (min-width: 600px) {
      flex-direction: row;
      max-width: 680px;
      margin-block-end: theme.spacing(48);
    }

    &Text {
      @include theme.m-font("body-1-mobile");

      display: inline-block;
      text-align: center;
      font-style: italic;
      word-break: break-word;

      @media screen and (min-width: 600px) {
        @include theme.m-font("body-1");
      }
    }

    span {
      position: relative;
    }

    &Image {
      position: absolute;
      z-index: -1;
      width: 80px;
      height: 80px;
      top: -37px;
      left: -30px;

      @media screen and (min-width: 600px) {
        top: -37px;
        left: -54px;
        width: 100px;
        height: 100px;
      }

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: map.get(theme.$modino-colors, primary, 50);
        }
      }
    }

    &Author {
      $image_size: 40px;

      @include theme.m-font("body-3");

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      color: map.get(theme.$modino-colors, surface, text);
      padding-block-start: theme.spacing(16);

      @media screen and (min-width: 600px) {
        right: 0;
        width: initial;
      }

      &Image {
        width: $image_size;
        height: $image_size;
        border-radius: 50%;
        margin-inline-end: theme.spacing(8);
      }
    }
  }
}

.mExplanation {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(16);
  background-color: map.get(theme.$modino-colors, primary, 900);

  @media screen and (min-width: 600px) {
    flex-direction: row;
    gap: theme.spacing(48);
  }

  &Content {
    @media (min-width: 600px) {
      justify-content: space-between;
      flex-direction: row;
      gap: theme.spacing(48);
    }
  }

  &Image {
    flex: 1;
    text-align: right;

    img {
      max-width: 100%;
      max-height: 300px;

      @media (min-width: 600px) {
        max-height: unset;
      }
    }
  }

  &Text {
    flex: 1;
    color: map.get(theme.$modino-colors, surface, text-contrast);
  }

  &Title,
  &Description {
    max-width: 480px;
  }

  &Title {
    @include theme.m-font("heading-4-mobile");
    text-align: center;

    margin: 0;
    margin-block: theme.spacing(16);

    @media screen and (min-width: 600px) {
      margin-block: 0 theme.spacing(12);
      @include theme.m-font("heading-4");

      text-align: justify;
    }
  }

  &Description {
    @include theme.m-font("body-1-mobile");

    margin: 0;

    @media screen and (min-width: 600px) {
      @include theme.m-font("body-1");
    }
  }
}

.mSolution {
  &Container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 840px) {
      flex-direction: row;
      gap: theme.spacing(24);
    }
  }

  &Video,
  &Text {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &Video {
    display: flex;
    justify-content: center;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &SolutionLink {
    @include theme.m-font("body-1");

    display: inline-flex;
    align-items: center;
    color: map.get(theme.$modino-colors, primary, 500);

    svg {
      margin-inline-start: theme.spacing(4);

      path {
        fill: map.get(theme.$modino-colors, primary, 500);
      }
    }
  }

  &Text {
    @include theme.m-font("body-1");

    margin-block-end: theme.spacing(16);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 600px) {
      margin-block-end: 0;
      align-items: flex-start;
    }

    p:first-of-type {
      margin-block-start: 0;
    }

    .highlight {
      font-style: italic;
    }
  }
}

.mAwards {
  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: theme.spacing(16);
    padding-inline: theme.spacing(12);

    @media (min-width: 600px) {
      padding-inline: theme.spacing(32);
    }
    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &CybersecurityBanner {
    flex: 1;

    img {
      max-width: 530px;
      width: 100%;
    }
  }
  &CybersecurityMade {
    flex: 1;

    img {
      max-width: 530px;
      width: 100%;
    }
  }
}

.mArticlesTeaser {
  :global .m-section__header {
    margin-block-start: 0;
    margin-block-end: spacing(16);

    @media (min-width: 800px) {
      margin-block-end: spacing(24);
    }
  }

  &SeeAll {
    $color: #{map.get(theme.$modino-colors, primary, 700)};
    @include theme.m-font("body-1");

    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
    margin-block-end: theme.spacing(16);

    @media (min-width: 600px) {
      margin-block-end: spacing(24);
    }

    svg {
      margin-inline-start: spacing(4);
      path {
        fill: $color;
      }
    }
  }
}
