@use "../../../scss/theme" as *;
@use "sass:map";

.mArticleChip {
  @include m-font("body-5");

  padding: spacing(3, 6);
  border: 1px solid;
  border-radius: 15px;
  height: 30px;

  &Blue {
    color: #2824ed;
    border-color: #2824ed;
    background-color: rgba(40, 36, 237, 0.15);
  }

  &Red {
    color: map.get($modino-colors, accent, 600);
    border-color: map.get($modino-colors, accent, 600);
    background-color: rgba(237, 45, 36, 0.15);
  }

  &Green {
    color: #00a511;
    border-color: #00a511;
    background-color: rgba(0, 199, 20, 0.15);
  }
}
