@use "sass:map";

$surface: (
  background: #fbfbfb,
  background-high-contrast: #fff,
  border: #e4e4e4,
  text: rgb(0 0 0 / 87%),
  text-contrast: rgb(255 255 255 / 87%),
  disabled: #ccc,
  text-disabled: rgb(0 0 0 / 38%),
  overlay: rgb(0 0 0 / 50%),
  button-toggle-background: #f5f5f5,
);
$primary: (
  50: #e3f1f8,
  100: #badcef,
  200: #91c6e5,
  300: #6ab0da,
  400: #4da0d4,
  500: #3191ce,
  600: #2784c2,
  700: #1b73b0,
  800: #11639f,
  900: #004680,
  A100: #91c6e5,
  A200: #6ab0da,
  A400: #11639f,
  A700: #004680,
  contrast: (
    50: map.get($surface, "text"),
    100: map.get($surface, "text"),
    200: map.get($surface, "text"),
    300: map.get($surface, "text"),
    400: map.get($surface, "text"),
    500: map.get($surface, "text"),
    600: map.get($surface, "text"),
    700: map.get($surface, "background"),
    800: map.get($surface, "background"),
    900: map.get($surface, "background"),
    A100: map.get($surface, "text"),
    A200: map.get($surface, "text"),
    A400: map.get($surface, "background"),
    A700: map.get($surface, "background"),
  ),
);
$secondary-1: (
  50: #e1f1ff,
  100: #c1dbf1,
  200: #a5c1db,
  300: #86a7c5,
  400: #6f93b3,
  500: #5780a2,
  600: #497291,
  700: #3a5d79,
  800: #2b4b63,
  900: #19364b,
  A100: #a5c1db,
  A200: #86a7c5,
  A400: #2b4b63,
  A700: #19364b,
  contrast: (
    50: map.get($surface, "text"),
    100: map.get($surface, "text"),
    200: map.get($surface, "text"),
    300: map.get($surface, "text"),
    400: map.get($surface, "text"),
    500: map.get($surface, "text"),
    600: map.get($surface, "background"),
    700: map.get($surface, "background"),
    800: map.get($surface, "background"),
    900: map.get($surface, "background"),
    A100: map.get($surface, "text"),
    A200: map.get($surface, "text"),
    A400: map.get($surface, "background"),
    A700: map.get($surface, "background"),
  ),
);
$secondary-2: (
  50: #e4e9ed,
  100: #bac7d4,
  200: #8ea3b7,
  300: #647f9a,
  400: #416587,
  500: #154d77,
  600: #0b466f,
  700: #003d64,
  800: #003358,
  900: #002340,
  A100: #8ea3b7,
  A200: #647f9a,
  A400: #003358,
  A700: #002340,
  contrast: (
    50: map.get($surface, "text"),
    100: map.get($surface, "text"),
    200: map.get($surface, "text"),
    300: map.get($surface, "text"),
    400: map.get($surface, "background"),
    500: map.get($surface, "background"),
    600: map.get($surface, "background"),
    700: map.get($surface, "background"),
    800: map.get($surface, "background"),
    900: map.get($surface, "background"),
    A100: map.get($surface, "text"),
    A200: map.get($surface, "text"),
    A400: map.get($surface, "background"),
    A700: map.get($surface, "background"),
  ),
);
$accent: (
  50: #ffeaed,
  100: #ffcccf,
  200: #f69894,
  300: #ed6f6a,
  400: #f74c43,
  500: #fb3a23,
  600: #ed2d24,
  700: #db211f,
  800: #ce1717,
  900: #c00005,
  A100: #ed6f6a,
  A200: #f74c43,
  A400: #ce1717,
  A700: #c00005,
  contrast: (
    50: map.get($surface, "text"),
    100: map.get($surface, "text"),
    200: map.get($surface, "text"),
    300: map.get($surface, "text"),
    400: map.get($surface, "text"),
    500: map.get($surface, "text"),
    600: map.get($surface, "text"),
    700: map.get($surface, "background"),
    800: map.get($surface, "background"),
    900: map.get($surface, "background"),
    A100: map.get($surface, "text"),
    A200: map.get($surface, "text"),
    A400: map.get($surface, "background"),
    A700: map.get($surface, "background"),
  ),
);
$basic-states: (
  success: #4cba7a,
  info: #62b5e9,
  warning: #f6a136,
  error: #e54b48,
);
$mug-states: (
  working: #004680,
  warning: #e17a03,
  error: #d40318,
  disabled: #949494,
);
$banner-variants: (
  success: (
    background: #e8f5e9,
    hover-background: #d5f4d7,
    border: #9ddc9f,
  ),
  info: (
    background: #eef5fe,
    hover-background: #dcebff,
    border: #abc2ef,
  ),
  warning: (
    background: #fef8e3,
    hover-background: #fff5d3,
    border: #eddda3,
  ),
  error: (
    background: #fdf1f1,
    hover-background: #ffe4e4,
    border: #e9b4b5,
  ),
);
$modino-colors: (
  surface: $surface,
  primary: $primary,
  secondary-1: $secondary-1,
  secondary-2: $secondary-2,
  accent: $accent,
  warn: $accent,
  basic-states: $basic-states,
  mug-states: $mug-states,
  banners: $banner-variants,
);
