@use "palette";
@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  font-weight: 700;
}

:root {
  --mdc-typography-font-family: "Nunito", sans-serif;
}
