@forward "palette";
@forward "tokens";
@forward "system";
@forward "typography";

@use "tokens";
@use "palette";
@use "sass:map";

* {
  box-sizing: border-box;
}

.mdc-button {
  border-radius: tokens.$border-radius;
}

[class*="mdc-button"] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: none;
}
