/*
 * Modino.io Confidential
 *
 * Object code only source materials
 *
 * Modino.io - Safe and Secure updates - Platform for safe and secure software delivery
 *
 * (C) Copyright Modino.io Sp. z o.o. <copyright@modino.io> 2020-2023. All Rights Reserved.
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has
 * been deposited with any of the Copyright Offices.
 */

@use "sass:list";
@use "sass:map";

$spacing-token: 0.125rem;

@function spacing($args...) {
  $-values: ();
  @if length($args) > 0 and length($args) <= 4 {
    @each $arg in $args {
      $-values: list.append($-values, $arg * $spacing-token);
    }
    @return $-values;
  } @else {
    @error "Spacing method takes [1..4] arguments";
  }
}
