/*
 * Modino.io Confidential
 *
 * Object code only source materials
 *
 * Modino.io - Safe and Secure updates - Platform for safe and secure software delivery
 *
 * (C) Copyright Modino.io Sp. z o.o. <copyright@modino.io> 2020-2023. All Rights Reserved.
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has
 * been deposited with any of the Copyright Offices.
 */

@forward "palette";
@forward "tokens";
@forward "system";
@forward "typography";

@use "tokens";
@use "palette";
@use "sass:map";

$gatsby-path-prefix: "/modino-website";

* {
  box-sizing: border-box;
}

.highlight {
  color: map.get(palette.$modino-colors, primary, 900);
  font-weight: 700;
}

.mdc-button {
  --mdc-filled-button-container-shape: #{tokens.$border-radius};
  --mdc-outlined-button-container-shape: #{tokens.$border-radius};

  &.cta-accent-button {
    --mdc-filled-button-container-color: #{map.get(
        palette.$modino-colors,
        accent,
        600
      )};
    --mdc-filled-button-hover-state-layer-color: #{map.get(
        palette.$modino-colors,
        accent,
        400
      )};

    --mdc-filled-button-hover-state-layer-opacity: 1;
    --mdc-filled-button-focus-state-layer-opacity: 1;
    --mdc-filled-button-pressed-state-layer-opacity: 1;

    &.mdc-ripple-upgraded--background-focused {
      .mdc-button__ripple {
        &:before {
          background-color: map.get(palette.$modino-colors, accent, 500);
        }
      }
    }

    .mdc-button__ripple {
      &:after {
        background-color: map.get(palette.$modino-colors, accent, 300);
        z-index: 1;
      }
    }
  }
}

[class*="mdc-button"] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: none;
}
